<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>UL9WJVVZ42</string>
    <key>provisioningProfiles</key>
    <dict>
    	<key>com.bilibili.a3</key>
    	<string>A3_dis</string>
    </dict>
</dict>
</plist>